* {
	margin: 0;
	padding: 0;
}
ul li {
	list-style: none;
}
 a {
	text-decoration: none;
 }
.container {
	margin: 0 auto;
	max-width: 1140px;

}
#header {
	width: 100%;
	border-bottom: 1px solid #919191;
	padding: 10px 0px;
}
#header .container .flex-item {
	display: flex;
}
#header .container .flex-item .logo {
	flex: 2;
}
#header .container .flex-item .contact-info {
	flex: 3;
	align-items: center;
}
#header .container .flex-item .contact-info ul  {
	display: flex;
	justify-content: flex-end;
	align-items: center;

}
#header .container .flex-item .contact-info ul li {
	display: inline-block;
	margin-top: 10px;
}
#header .container .flex-item .contact-info ul li i {
	color: #FF3414;
	padding-right: 5px;
}
#header .container .flex-item .contact-info ul li.flex-text {
	padding-right: 40px;
}
#header .container .flex-item .contact-info ul li.flex-text a {
	color:#919191;
	font-size: 17px;
}
#header .container .flex-item .contact-info ul li a.free-quote {	
	border: 1px solid #FF3414;
	font-size: 17px;
	color: #FF3414;
	height: 40px;
	width: 130px;
	line-height: 40px;
	display: block;
	text-align: center;
	transition: 1s;
}
#header .container .flex-item .contact-info ul li a.free-quote:hover{
	background: #FF3414;
	color: #FFF; 
}
/*end header*/
nav .container .flex-nav {
	display: flex;
	padding: 10px 0px;
}
nav .container .flex-nav #menu {
	flex:3;
}
nav .container .flex-nav #menu #navigation {
	display: flex;
	justify-content: space-between;
}
nav .container .flex-nav #menu #navigation li a {
	color: #919191;
	font-size: 18px;
}
nav .container .flex-nav #menu #navigation li a:hover {
	color: #FF3414;
}
nav .container .flex-nav .search {
	flex:3;
	display: flex;
	justify-content: flex-end;
}
nav .container .flex-nav .search a{
	color: #FFF;
	border-radius: 50%;
	background: #FF3414;
	height: 35px;
	width: 35px;
	line-height: 35px;
	text-align: center;
}
/*end nav*/
#banner {
	background: url(./img/banner/banner.png) no-repeat center center ;
	background-size: cover;
	height: 700px;
	position: relative;
	z-index: 1;
	padding: 50px 0px;

}
#banner:before {
	content: "";
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: linear-gradient(to right, #372e43 0%, #1f2523 100%);
	position: absolute;
	opacity: 0.6;
	z-index: -1;
}
#banner .container {
	max-width: 750px;
	padding-top: 170px;
}
#banner .container .flex-item {
	display: flex;
	flex-direction: column;
	max-width: 750px;
	align-items: center;
	z-index: 2;
	justify-content: center;
}
#banner .container .flex-item p {
	font-size: 30px;
    color: #FFF;
    font-weight: 400;
    padding-bottom: 60px
} 
#banner .container .flex-item h3{
	color: #FFF;
    font-size: 60px;
    text-align: center;
    font-weight: 600;
    padding-bottom: 40px
}
#banner .container .flex-item a.search {
	height: 50px;
    width: 150px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    display: block;
    line-height: 40px;
    transition: 0.5s;
    position: absolute;
    top: 500px;
    background: #FF3414;
}
#banner .container .flex-item a.search:hover {
	border: 1px solid #FF3414;
	color: #FF3414;
	background: transparent;
}
/*end banner*/
#about  {
	padding: 100px;
}
#about .container .about-content ul {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
#about .container .about-content ul li {
	flex-basis: 350px;
}
#about .container .about-content ul li h3 {
	font-size: 22px;
    font-weight: 500;
    color: #001D38;
    margin-bottom: 15px;
    margin-top: 15px;
}
#about .container .about-content ul li h3:hover {
	color: #FF3414;
}
#about .container .about-content ul li p{
 	font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #919191;
 }
 /*end about*/

#service {
	background: #f5fbff;
    position: relative;
}
#service .container .flex-item h2 {
	font-size: 46px;
    font-weight: 400;
    line-height: 52px;
    color: #001D38;
    text-align: center;
    padding: 100px 0px 50px 0px;
}
#service .container .flex-item ul {
	display: flex;
	justify-content: space-between;
}
#service .container .flex-item ul li a h3 {
	font-size: 22px;
    font-weight: 500;
    color: #001D38;
    margin-bottom: 15px;
    margin-top: 15px;
} 
#service .container .flex-item ul li a h3:hover{
	color: #FF3414;
	text-decoration: underline;
}
#service .container .flex-item ul li p {
	font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #919191;
}
#service .container .flex-item .pre i{
	position: absolute;
	border-radius: 50%;
	color: #FF3414;
	background: #FFF;
	height: 35px;
	width: 40px;
	line-height: 35px;
	text-align: center;
	top: 400px;
    left: 85px;
}
#service .container .flex-item .next i {
	position: absolute;
	border-radius: 50%;
	top: 400px;
	color: #FF3414;
	background: #FFF;
	height: 35px;
	width: 40px;
	line-height: 35px;
	text-align: center;
	right: 100px;
}
/*end service*/

#contact {
	margin-top: 100px;
	background: url(img/banner/contact_bg.png) no-repeat center center;
	background-size: cover;
	overflow: hidden;
	height: 350px;
	z-index: 2;
	position: relative;
}
#contact:after {
	content: '';
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	position: absolute;
	opacity: 0.8;
	z-index: -1;
	background: linear-gradient(to right, #3c5369 0%, #385166 100%);
}
#contact .container .flex-contact {
	display: flex;
}
#contact .container .flex-contact .contact-text {
	padding-top: 100px;
	flex:3;
}
#contact .container .flex-contact .contact-text h3 {
	font-size: 50px;
	font-weight: 400;
	color: #FFF;
}
#contact .container .flex-contact .contact-text p {
	color: #FFF;
	font-size: 17px;
}
#contact .container .flex-contact .contact-number {
	padding-top: 100px;
}
#contact .container .flex-contact .contact-number a{
	flex: 2;
	align-items: flex-end;
	border-radius: 100px;
    background: #FF3414;
    line-height: 70px;
    width: 250px;
    height: 70px;
    display: block;
    text-align: center;
    font-size: 26px;
    color: #FFF;
 	
}
#contact .container .flex-contact .contact-number a:hover {
	background: #FFF;
	color: #001D38;
}
/*end contact*/

#about-us {
	margin-top: 50px;
}
#about-us .container .flex-about {
	display: flex;
	justify-content: space-between;
}
#about-us .container .flex-about .images-about {
	box-shadow: 15px 10px #FF3414;
}
#about-us .container .flex-about .about-content  {
	position: relative;
}
#about-us .container .flex-about .about-content h3{
	font-size: 42px;
    font-weight: 500;
    color: #001D38;
}
#about-us .container .flex-about .about-content p, span {
	font-size: 16px;
    line-height: 28px;
    color: #727272;
    margin-bottom: 22px;
    margin-top: 28px
}
#about-us .container .flex-about .about-content i {
	color: #FF3414;
}
#about-us .container .flex-about .about-content a {
 	text-align: center;
    text-decoration: none;
    height: 50px;
    width: 150px;
    border: 1px solid #ff3414;
    position: absolute;
    top: 350px;
    line-height: 50px;
    color: #ff3414;
    transition: 0.7s;
    right: 420px;
 }
 #about-us .container .flex-about .about-content a:hover {
 	background: #ff3414;
 	color: #FFF;
 }
 /*end about us*/

 #counter {
 	margin-top: 50px; 
 }
 #counter .container {
	background: url(img/about/0ffcan.png) no-repeat;
	background-size: cover;

}
#counter .container .countries-covered ul {
 	display: flex;
 	justify-content: space-between;
 	line-height: 50px;
 	align-items: center;
 	height: 150px;
}
#counter .container .countries-covered ul  h3 {
	color: #ff3414;
	text-align: center;
}
#counter .container .countries-covered ul  span {
	color: #ff3414;
}
/*end cuoter*/

#testmonial {
	background: url(img/banner/testmonial.png) no-repeat center center;
	background-size: cover;
	margin-top: 50px;
	height: 700px;
	z-index: -1;
	overflow: hidden;
}
#testmonial .container .quote {
	height: 470px;
	background: #FFF;
	margin-top: 100px;
	z-index: 1;
	width: 650px;
	border-radius: 20px;
}
#testmonial .container .quote img {
	padding: 20px 0px 0px 300px;
}
#testmonial .container .quote  p {
	color: #001D38;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
}
#testmonial .container .quote .detail-quote {
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#testmonial .container .quote .detail-quote h3 {
	line-height: 30px;
	text-align: center;
	padding-top: 20px;
}
#testmonial .container .quote .detail-quote span {
	text-align: center;
	color: #001D38;
}
#testmonial .container .quote .quote-btn {
	display: flex;
	justify-content: center;
	align-items: center;
}
#testmonial .container .quote .quote-btn a {
	padding-right: 10px;
	color: #FFD6D0;
	margin-top: 30px; 
}
#testmonial .container .quote .quote-btn a:first-child {
	color: #ff3414;
}
/*end testmonial*/

#estimate {
	background: url(img/banner/Estimate_bg.png) no-repeat center center;
    background-size: cover;
    height: 650px;
    z-index: 0;
    position: relative;
    overflow: hidden;
}
#estimate:before {
	content: "";
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.9;
    background: linear-gradient(to right, #001d37 0%, #0e2942 100%);
    position: absolute;
}
#estimate .container .flex-item {
 	display: flex;
 	margin-top: 100px;
 }
#estimate .container .flex-item .estimate-contact {
	flex: 1;
}
#estimate .container .flex-item .estimate-contact h3 {
	color: #fff;
    font-size: 30px;
    font-weight: 400;
}
#estimate .container .flex-item .estimate-contact p {
	color: #C7C7C7;
    font-size: 18px;
    line-height: 28px;
    margin-top: 23px;
    margin-bottom: 33px;
}
#estimate .container .flex-item .estimate-contact a {
	text-decoration: none;
    border-radius: 100px;
    background: #FF3414;
    line-height: 50px;
    width: 200px;
    height: 50px;
    display: block;
    text-align: center;
    font-size: 20px;
    color: #FFF;
    margin-top: 50px;
    transition: 0.5s;
}
#estimate .container .flex-item .estimate-contact a:hover {
	background: transparent;
	color:  #FF3414;
	border: 1px solid #FF3414;
}
#estimate .container .flex-item .estimate-form  {
	flex: 2;
 	display: flex;
 	flex-wrap: wrap;
}
#estimate .container .flex-item .estimate-form  form {
	display: flex;
 	justify-content: space-between;
 	flex-wrap: wrap;
}
#estimate .container .flex-item .estimate-form  form .input-file {
	flex-basis: 300px;
    height: 20px;
    border-radius: 5px;
    padding: 18px 15px;
    font-size: 14px;
    background: transparent; 
    margin-bottom: 15px;
    font-weight: 600;

}
#estimate .container .flex-item .estimate-form  form .input-file input , .input-file select {
 	width: 340px;
	height: 40px;
	border-radius: 5px;
	background: transparent;
	text-indent: 10px;
 }
#estimate .container .flex-item .estimate-form  form .input-file .select-product {
	color: #C7C7C7;
	cursor: pointer;
}
#estimate .container .flex-item .estimate-form  form .input-file .select-product option {
	background: #fff;
	height: 150px;
	font-size: 16px;
	line-height: 150px;
	color: #000;
}
#estimate .container .flex-item .estimate-form  form .input-file .select-product option:hover {
	background: #C7C7C7; 
}

#estimate .container .flex-item .estimate-form  form .input-message {
	flex-basis: 600px;
	height: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;	
    padding: 18px 15px;
    font-size: 14px;
    color: #fff;
    margin-bottom: 15px;
    font-weight: 600;
}
#estimate .container .flex-item .estimate-form  form .input-message > textarea {
	background: transparent;
	border-radius: 5px;
}
#estimate .container .flex-item .estimate-form  form .estimate-btn {
	 height: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #FF3414;
    padding: 18px 15px;
    font-size: 14px;
    background: transparent;
    color: #FF3414;
    margin-bottom: 15px;
    font-weight: 600;
    flex-basis: 720px;
    text-align: center;
    transition: 0.5s;
    margin-top: 30px;
}
#estimate .container .flex-item .estimate-form  form .estimate-btn:hover {
	background: #FF3414;
	color: #fff;
}
 /*end estimate*/

.contact-location {
 	width: 100%;
 	background: #F5FBFF;
 	height: 400px;
 	padding-top: 100px;

 }
 .contact-location .container .flex-item	{
 	display: flex;
 }
 .contact-location .container .flex-item .logo {
 	flex: 1;
	flex-basis: 440px;
 }
 .contact-location .container .flex-item .logo > ul {
 	margin-top: 20px;
 	display: inline-block;
 	display: flex;
 }
 .contact-location .container .flex-item .logo > ul .fa-facebook {
 	color: #3B5797;
 	text-align: center;
 }
 .contact-location .container .flex-item .logo > ul  .fa-google-plus {
 	color: #DB4337;
 	text-align: center;
 }
 .contact-location .container .flex-item .logo > ul .ti-twitter {
 	color: #00ACED;
 	text-align: center;
 }
 .contact-location .container .flex-item .logo > ul  .ti-youtube{
 	color: #BB0000;
 	text-align: center;
 }
 .contact-location .container .flex-item .logo > ul> li {
 	line-height: 30px;
 	font-size: 30px;
 	padding-left: 10px;
 }
.contact-location .container .flex-item .location {
	flex: 2;
}
.contact-location .container .flex-item .location ul {
	display: flex;

}
#footer {
	margin-top: 50px;
}
#footer .container .flex-item .footer-top {
	border-bottom: 1px solid #e8e8e8;
	display: flex;

}
#footer .container .flex-item .footer-top .footer-wiget {
	flex-basis: 285px;
}
#footer .container .flex-item .footer-top .footer-wiget ul  li{
	display: flex;
	flex-direction: column;
}
#footer .container .flex-item .footer-top .footer-wiget  h3 {
	color: #001D38;
    font-size: 25px;
}
#footer .container .flex-item .footer-top .footer-wiget ul a {
	font-size: 14px;
    display: block;
    padding-top: 20px;
    color: #596672;
    line-height: 20px;
    font-weight: 400;
}
#footer .container .flex-item .footer-top .footer-wiget form {
	position: relative;
	margin-top: 30px;
}
#footer .container .flex-item .footer-top .footer-wiget form input {
	border: 1px solid #596672;
   	min-width: 350px;
    height: 50px;
    border-radius: 30px;
    text-indent: 10px;
    font-weight: 600;
}
#footer .container .flex-item .footer-top .footer-wiget form a {
	background: #FF3414;
    color: #fff;
    height: 33px;
    width: 117px;
    border-radius: 20px;
    position: absolute;
    text-align: center;
    line-height: 3px;
    top: 10px;
    left: 190px;
    min-width: 150px;
    font-weight: 600;
    line-height: 33px;
}
#footer .container .flex-item .footer-top .footer-wiget p {
	margin-top: 20px;
	color: #596672;
}
#footer .container .flex-item .footer-bottom {
	height: 150px;
}
#footer .container .flex-item .footer-bottom p {
	text-align: center;
	line-height: 150px;
	color: #596672;
}
#footer .container .flex-item .footer-bottom a {
	color: #FF3414;
}